*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: aquamarine;
    margin:auto;
}
li{
    font-size: 3vh;
    color: white;
    
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;

    align-items: center;
    list-style-type: none;
    justify-content:space-around;
    padding-top: 10px;
}
header{
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    position:absolute;
    width: 100vw;
    bottom: 0;
}

#uno{
    width: 20%;
}

.Titulo{
    color: white;
    font-size: 10vh;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY("-50%");
    z-index: 100;
    margin: 2vh;
    transition: right 1s ease-in-out;
}
.body{
    height: 500px;
    color: aqua;
}

#uno{
    width: 15%;
    right:50px;
    top: 60%;
}

#logo{
    width: 40%;
    right: 50px;
    top: 100px;
    transition: all.5s ease-in-out;
}

#spe{
    width: 30%;
    left: 0%;
    transition: all 1s ease-in-out;
}

#fondo{
    position: absolute;
    z-index: -1;
}

