*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 25%;
    position: absolute;
    height: 50vh;
    background-image: linear-gradient(120deg, #a6c0fe, #f68084);
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1{
    color:#ffffff;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 25%;
    position: absolute;
    height: 20vh;
    width: 50%;
    margin: 0 auto;
}